<html>
    <head>
      <title>Create User</title>
    </head>
    <body>
        #if ($message)
            <div>$message</div>
        #end
        <h1>Add new user</h1>
        <form action="$req.getContextPath()/users/create" method="post">
            <div>
              <label for="user_id">Name:</label>
              <input id="user_id" type="text" name="name" value="" />
            </div>
            <div>
              <label for="user_age">Age:</label>
              <input id="user_age" type="text" name="age" value="" size="4" />
            </div>
            <div>
              <input type="submit" value="Submit"/>
              <input type="reset" value="Reset"/>
            </div>
        </form>
    </body>
</html>